@import './tokens.scss';

// 变量与基础
$primary-color: var(--color-primary);
$font-family-base: var(--font-base);

// 基础样式
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family-base;
  background-color: var(--color-bg);
  color: var(--color-text);
  // 隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }
}

@import './components/header.scss';
@import './components/footer.scss';
