@use './tokens.scss';
@use './variables' as vars;
@use './components/header.scss';
@use './components/footer.scss';
@use './components/rich-text-editor.scss';
@use './components/file-uploader.scss';
@use './pages/admin.scss';

// 基础样式
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: vars.$font-family-base;
  background-color: var(--color-bg);
  color: var(--color-text);
  // 隐藏滚动条
  &::-webkit-scrollbar {
    display: none;
  }
}
